.add-form {
    display: flex;
}

.add-form__input {
    font-size: 14px;
    width: 400px;
    padding: 12px 20px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add-form__button {
    margin-left: 5px;
    background-color: #86a8e7;
    border: none;
    color: white;
    height: 42px;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

